<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>留夫鸭核心项目</display-name>
	<context-param>
		<description>
		Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>false</param-value>
	</context-param>
	<servlet>
		<servlet-name>Liufuya Application</servlet-name>
		<!-- 
		<servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
		 -->
		<servlet-class>com.seaway.liufuya.NutzVaadinServlet</servlet-class> 
		<init-param>
			<description>
			Vaadin UI class to use</description>
			<param-name>UI</param-name>
			<param-value>com.seaway.liufuya.LiufuyaUI</param-value>
		</init-param>
		<init-param>
			<description>
			Legacy mode to return the value of the property as a string from AbstractProperty.toString()</description>
			<param-name>legacyPropertyToString</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Liufuya Application</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>


	<!-- 加载 nutz 框架 -->
	<filter>
		<filter-name>nutz</filter-name>
		<filter-class>org.nutz.mvc.NutFilter</filter-class>
		<!-- 框架加载点 -->
		<init-param>
			<param-name>modules</param-name>
			<param-value>com.seaway.liufuya.MainModule</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>nutz</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 设置浏览器与服务器会话超时时长 -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
